<strong>Olá, {{ student }}</strong>
<p>Em primeiro lugar, gostariamos de lhe dar as boas-vindas à Gympoint</p>

<p>Confira os detalhes do seu plano abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong>R$ {{ price }} <br />
</p>
